<mat-toolbar color="primary"  style="margin-bottom: 5px">
  <mat-toolbar-row>
    <span>MyFilms!</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <button mat-raised-button><span style="font-size: medium;"><a href="/">Home</a></span></button>
    <button mat-raised-button><span style="font-size: medium;"><a href="/films">Films</a></span></button>
    <button mat-raised-button><span style="font-size: medium;"><a href="/customer">Customer page</a></span></button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>