<div class="card-class">
  <h1 style="color: #d0c1e3">Top 5 Films</h1>
  <mat-card *ngFor="let film of data1;" style="margin-top:10px; margin-right: 8px; flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{film.title}}</mat-card-title>
      <mat-card-subtitle>{{film.film_id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button 
          (click)="openDialog(film.release_year, film.description)">
          More Info
          </button>
          <p>Rented total: {{film.rented}}</p>
    </mat-card-content>
    </mat-card>
</div>

<div class="card-class">
  <h1 style="color: #d0c1e3">Top 5 Actors</h1>
  <mat-card *ngFor="let actor of data2; index as i" style="margin-top:10px; margin-right: 8px; flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{actor.first_name}} {{actor.last_name}}</mat-card-title>
      <mat-card-subtitle>{{actor.actor_id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <button mat-raised-button 
          (click)="openDialog_top(i+1)">
          More Info
          </button>
          <p>Movie Count: {{actor.movies}}</p>
    </mat-card-content>
    </mat-card>
</div>